<div class="hero-unit">
    <h1>欢迎来到 MicroBlog</h1>
    <p>MicroBlog 是一个基于Node.js 的微博系统</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>

<div class="row">
    <div class="span4">
        <h2>Carbo 说</h2>
        <p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
    </div>
    <div class="span4">
        <h2>Hahei 说</h2>
        <p>这里是一个NASA项目后台，我们有着庞大的人员去管理这个庞大的后台。</p>
    </div>
    <div class="span4">
        <h2>佛罗 说</h2>
        <p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p>
    </div>
    <div class="span4"></div>
</div>